<nav class="navbar">
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/blog">Blog</a>
        </li>
        <li>
            <a routerLink="/about">About</a>
        </li>
        <li class="buscador">
            <div class="input">
                <input type="text" placeholder="Type here">
            </div>
            <div class="text-search">
                <input type="submit" value="Buscar">
            </div>
        </li>
    </ul>
</nav>
